ion-toolbar {
  --padding-end: 15px;
  --padding-top: 20px;
  --padding-bottom: 10px;
  --border-width: 0px !important;
  ion-back-button {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
  .menu {
    --border-width: 1px;
    --border-radius: 10px;
    height: 40px;
    width: 40px;
  }
}

ion-content {
  --background: white;
  ion-col {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  ion-col:last-child {
    margin-right: 0px;
  }
}


@media (max-height:650px)
{
  ion-content {
    ion-input {
      height: 40px;
    }
    .register {
      margin: 10px 0px;
      height: 40px;
    }
    .login {
      margin: 10px 0px;
    }
  }
}