ion-toolbar {
  --padding-end: 15px;
  --padding-top: 20px;
  --padding-bottom: 10px;
  --border-width: 0px !important;
  ion-back-button {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
  .menu {
    --border-width: 1px;
    --border-radius: 10px;
    height: 40px;
    width: 40px;
  }
}

.status-text {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 13px;
  --padding-bottom: 13px;
  font-size: 14px;
}

ion-content {
  --background: white;
    ion-row {
      ion-col {
        margin-right: 30px;
        margin-bottom: 30px;
      }
      ion-col:last-child {
        margin-right: 0px;
      }
    }
}