<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" text="" defaultHref="contact-list"></ion-back-button>
      <ion-label>
        Leslie Moreno
      </ion-label>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>
        Total Likes: 781
      </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="album">
  <ion-button  (click)="uploadcare()">
    uplaodcare
  </ion-button>    
</ion-content>

<!-- <ion-content class="add-photo">
  <div class="title">
    <ion-label>
      Add Photo/s
    </ion-label>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="uploadcare()">
          <img src="assets/icon/photo-camera.svg" alt="" width="40%">
          <ion-label>
            Camera
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-card (click)="uploadcare()">
          <img src="assets/icon/photo-camera.svg" alt="" width="40%">
          <ion-label>
            Gallery
          </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" color="primary" (click)="dismiss()" shape="round">Cancel</ion-button>
</ion-content> -->
